.extDescription {
	display: none;
}

.picHolder img {
	width:30px;
	height:30px;
}

.profile-card-content {
	padding-top: 5px !important;
}

#profileHeader {
	height: 0px;
}

.extension-card-content {
	padding: 5px 0 !important;;
}

.card:first-of-type {
	margin-bottom: 20px !important;
}

#activeTitle,
#inactiveTitle {
	line-height: initial;
	font-size: 20px;
}

.extName {
  font-size: 14px;
}

.nameDesc {
	margin-left:1%;
  margin-top: 4px;
}

.extBlock {
  margin: 1px 25px;
}

.switch label .lever {
	width: 27px;
	height: 10px;
}

.switch label .lever:after {
	width: 15px;
	height: 15px
}

.switch label input[type=checkbox]:checked+.lever:after {
	left: 14px;
}

.ext-links .description {
	display: initial;
}




