body, html {
	margin:0;
	padding:0;
}

body {
	width: 600px;
	height: 100%;
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
}

button {
	box-shadow: none !important;
}

/* PROFILES */

#profileHeader {
	width: 100%;
	height: 86px;
	background-color: #f3f3f3;
}

#removeAllBtn {
	text-transform: uppercase;
	font-size: 10px;
	float: left;
	cursor: pointer;
	color: #fff;
}

#editBtn {
	text-transform: uppercase;
	font-size: 10px;
	float: right;
	margin-top: -15px;
	cursor: pointer;
	color: #9F9F9F;
	background: none;
	border: none;
}

.edit, .delete {
	margin:0 2% 0 2%;
	cursor:pointer;
}

#noProfilesText {
	font-size: 16px;
	color: #fff;
}

a #addAProfileText {
	color: #fff;
	text-decoration: none !important;
	cursor: pointer !important;
}

#addAProfile {
	font-weight: bold;
}

#addProfileBox {
	font-size: 16px;
	color: rgba(0,0,0,0.54);
}

.profile-card-content {
	padding: 20px 0px 0px 0px !important;
}

.profile-holder {
	text-align: center;
}

#addProfileBox,
.profile-btn,
.profile-btn:hover,
.profile-btn:focus {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	margin: 5px;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	background-color: #DFDFDF;
	cursor: pointer !important;
}

.on {
	background-color: #81c784 !important;
	color: #fff;
}

.off {
	background-color: #DFDFDF;
	color: rgba(0,0,0,0.54);
}


/* MODAL STYLES */

.extList-holder {
	margin: 5px 0 5px 0;
}

.extList-img {
	width:10%;
	display: inline-block;
}

.extList-img img {
	max-width:100%;
}

.extList-name {
	width:70%;
	height:100%; 
	display: inline-block;
	padding-left: 5%;
}

.extList-name span {
	font-size: 20px;
}

.extList-toggle {
	display: inline-block;
}

#addActionBtn {
	text-align: right;
}

#addSubmit {
	box-shadow: none;
}

#done {
	margin-right: 20px;
	box-shadow: none;
}


.profileList-holder {
	margin: 5px 0 5px 0;
}

.profileList-name {
	width: 50%;
	height: 100%; 
	display: inline-block;
	padding-left: 5%;
}

.profileList-name span {
	font-size: 20px;
}



/* SEARCHBOX AND SETTINGS */

.searchbox-holder {
	text-align: center;
}

#searchbox {
	text-align: center;
	padding:0;
	margin: 10px 0;
	width: 40%;
	height: 40px;
	border:none;
	border-bottom: 1px solid #26a69a;
	font-size: 1.3em;
}

#searchbox:active, #searchbox:focus + #search-icon {
	outline: none;
}

#search-icon,
.mdi-action-settings, 
a.mdi-action-settings {
	color: #9F9F9F;
	font-size: 20px;
	margin-right: -22px;
}

#noResults {
	display:none;
}


/* EXTENSIONS */

.card {
	margin: 10px !important;
}

.card:first-of-type {
	margin-bottom: 50px !important;
}

.extension-card-content {
	padding: 20px 0px !important;
	border-radius: 0px !important;
}

.extBlock {
	width: 530px;
	min-height: 5vw;
	float: left;
	margin: 10px 25px;
	text-align: left;
}

.lefty {
	width: 84%;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.righty {
	display: inline-block;
	width: 15%;
}

.picHolder {
	display: inline-block;
	width: 10%;
	vertical-align: top;
}

.nameDesc {
	display: inline-block;
	width: 84%;
	vertical-align: top;
	margin-left: 5%;
}

.extBlock img {
	width: 50px;
	height: 50px;
	vertical-align: top;
}

.activeTitleDiv {
	background-color: #81c784;
}

.inactiveTitleDiv {
	background-color: #DFDFDF;
}

#activeTitle,
#inactiveTitle {
	padding: 20px 0px;
	padding-left: 30px !important;
}

#activeTitle {
	color: #FFF;
}

#inactiveTitle {
	color: #9F9F9F;
}

.extName {
	height: 30px;
	overflow: hidden;
	font-size: 20px;
	color: black;
}

.extDescription {
	overflow: hidden;
	font-size: 12px;
	color: #a3a3a3;
}

.extToggle {
	font-size: 15px;
	float: right;
}

.js-switch {
	font-size: 30px;
}

span.lever::after {
	background-color: #81c784;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #81c784;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #81c784;
}

span.lever {
	background-color: #DFDFDF;
}

.switch label .lever {
	background-color: #DFDFDF;
}


/* TOASTS */

.alert {
	background-color: #ffab00;
	color: white;
}

.ccToastOn {
	background-color: #81c784;
}

.ccToastOff {
	background-color: #DFDFDF;
	color: rgba(0,0,0,0.54);
}

.deleteToast {
	background-color: #e53935;
	color: white;
}









