body, html {
	margin:0;
	padding:0;
}

body {
	width: 600px;
	height: 100%;
	background-color: #f3f3f3;
	font-family: 'Roboto', sans-serif;
	margin: auto;
}

button {
	box-shadow: none !important;
}

/* PROFILES */

#groupHeader {
	width: 100%;
	/*height: 86px;*/
	background-color: #f3f3f3;
}

#groupHeader .row {
	margin-bottom: 0px;
}

#groupHeader .btn {
	margin: 0 5px 0 5px;
}

#removeAllBtn {
	text-transform: uppercase;
	font-size: 10px;
	float: left;
	cursor: pointer;
	color: #fff;
}

.edit, .delete {
	margin:0 2% 0 2%;
	cursor:pointer;
}

/*#noGroupsText {
	font-size: 16px;
	color: #fff;
}*/

a #addAGroupText {
	color: #fff;
	text-decoration: none !important;
	cursor: pointer !important;
}

#addAGroup {
	font-weight: bold;
}

#addGroupBox {
	font-size: 16px;
	color: rgba(0,0,0,0.54);
}

.group-card-content {
	padding: 20px 0px 0px 0px !important;
}

.group-holder {
	text-align: center;
}

#addGroupBox,
.group-btn,
.group-btn:hover,
.group-btn:focus {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	margin: 5px;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	background-color: #DFDFDF;
	cursor: pointer !important;
}

.on {
	background-color: #81c784 !important;
	color: #fff;
}

.off {
	background-color: #DFDFDF;
	color: rgba(0,0,0,0.54);
}


/* MODAL STYLES */

.extList-holder {
	margin: 5px 0 5px 0;
}

.extList-img {
	width:10%;
	display: inline-block;
}

.extList-img img {
	max-width:100%;
}

.extList-name {
	width:70%;
	height:100%; 
	display: inline-block;
	padding-left: 5%;
}

.extList-name span {
	font-size: 20px;
}

.extList-toggle {
	display: inline-block;
}

#addActionBtn {
	text-align: right;
}

#addSubmit {
	box-shadow: none;
}

#done {
	margin-right: 20px;
	box-shadow: none;
}


.groupList-holder {
	margin: 5px 0 5px 0;
}

.groupList-name {
	width: 50%;
	height: 100%; 
	display: inline-block;
	padding-left: 5%;
}

.groupList-name span {
	font-size: 20px;
}



/* SEARCHBOX AND SETTINGS */

.searchbox-holder {
	text-align: center;
}

#searchbox {
	text-align: center;
	padding:0;
	margin: 10px 0 0 0;
	width: 40%;
	height: 40px;
	border:none;
	border-bottom: 1px solid #26a69a;
	font-size: 1.3em;
}

#searchbox:active, #searchbox:focus + #search-icon {
	outline: none;
}

#search-icon,
.mdi-action-settings, 
a.mdi-action-settings {
	color: #9F9F9F;
	font-size: 22px;
	margin-right: -22px;
	vertical-align: middle;
}

#noResults {
	display:none;
}


/* EXTENSIONS */

.card {
	margin: 10px !important;
}

.card:first-of-type {
	margin-bottom: 50px !important;
}

.extension-card-content {
	padding: 20px 0px !important;
	border-radius: 0px !important;
}

.extBlock {
	width: 530px;
	min-height: 5vw;
	float: left;
	margin: 10px 25px;
	text-align: left;
}

.lefty {
	width: 79%;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.righty {
	display: inline-block;
	width: 20%;
	text-align: right;
}

.picHolder {
	display: inline-block;
	width: 10%;
	vertical-align: top;
}

.nameDesc {
	display: inline-block;
	width: 84%;
	vertical-align: top;
	margin-left: 5%;
}

.extBlock img {
	width: 50px;
	height: 50px;
	vertical-align: top;
}

.activeTitleDiv {
	background-color: #81c784;
}

.inactiveTitleDiv {
	background-color: #DFDFDF;
}

#activeTitle,
#inactiveTitle {
	padding: 20px 0px;
	padding-left: 25px;
	font-weight: 400;
}

#activeTitle {
	color: #FFF;
}

#inactiveTitle {
	color: #9F9F9F;
}

.extName {
	height: 30px;
	overflow: hidden;
	font-size: 20px;
	color: black;
}

.extDescription {
	overflow: hidden;
	font-size: 12px;
	color: #a3a3a3;
}

.extToggle {
	font-size: 15px;
	float: right;
}

.js-switch {
	font-size: 30px;
}

span.lever::after {
	background-color: #81c784;
}

.ext-switch label {
	display: inline-block;
}

.ext-switch label .lever {
	margin:0 !important;
}

.ext-switch .show-ext-links {
	display: inline-block;
	padding:0 15px 0 22px!important;
}

.ext-switch .hide-ext-links {
	display: none;
	padding:0 15px 0 22px!important;
}

.ext-switch label input[type=checkbox]:checked+.lever:after {
	background-color: #81c784;
}

.ext-switch label input[type=checkbox]:checked+.lever {
	background-color: #81c784;
}

span.lever {
	background-color: #DFDFDF;
}

.ext-switch label .lever {
	background-color: #DFDFDF;
}


/* TOASTS */

.alert {
	background-color: #ffab00;
	color: white;
}

.ccToastOn {
	background-color: #81c784;
}

.ccToastOff {
	background-color: #DFDFDF;
	color: rgba(0,0,0,0.54);
}

.deleteToast {
	background-color: #e53935;
	color: white;
}

.ext-links {
	padding-top:10px;
	display: none;
}

.ext-links .buttons {
	text-align:right;
}

.ext-links a {
	color:grey;
}

.ext-links .material-icons {
	font-size: 20px;
  bottom: -3px;
  position: relative;
}

.ext-links .link {
	padding: 5px 15px;
	display: inline-block;
}

.ext-links .description {
	text-align: left;
	margin:0;
	display: none;
}

.uninstallExt {
	/*font-weight: bold;*/
	font-size: 1.3em;
}

.settings-icon {
	position: absolute;
	right: 10px;
	top: 10px;
}

.settings-row {
	display: none;
}

.settings-row .btn-large {
	line-height:50px;
	width:35px;
	height:35px;
}

.settings-row .btn-large i {
	line-height: 35.5px;
}

.settings-row .btn-switch {
	margin-left:20px;
}

.badge {
	position: inherit !important;
	padding: 2px 6px !important;
	margin-left: 10px !important;
}

.new:after {
	content: "app" !important;
}

span.badge.new {
	background-color: #ff9800;
}

#options-dropdown {
	width: 300px !important;
	position: absolute;
	left: 290px !important;
	opacity: 1;
	z-index: 100;
}

#options-dropdown .switch {
	float:right;
}

#changelogModal p,
#changelogModal ul {
	font-size: 1rem;
}

#changelogModal ul {
	margin-left: 25px;
}

#changelogModal ul li {
	list-style-type: disc;
}

